img {
  background-size: cover;
  position: relative;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.5s;
  width:100%;
  height:100vh;
  z-index: -1;
}

#greeting {
  position: absolute;
  color: white;
  font-size: 65px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 600;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -20%);  
}

#clock {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  position: absolute;
  top: 6%;
  right: 5%;                  
  color: white;
}

#login-form input::placeholder {
  color:white;
  font-size: 18px;
  text-align: center;
  }

form .name {
  font-size: 20px;
  display: flex;
  text-align: center;
  position: absolute;
  background:none;
  border: none;
  outline: 0;
  color: white;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);  
}

form .login-button {
  font-size: 13px;
  width: 50px;
  display: flex;
  position: absolute;
  background: none;
  border: none;
  outline: 0;
  color: white;
  cursor: pointer;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);  
} 


#todo-form {
  position: absolute;
  align-items: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);  
}

#todo-form input {
  width: 400px;
  height: 32px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding-left: 20px;
  background-color: rgb(228, 228, 228);
  opacity: 70%;
}

.todolist {
  line-height: 170%;
  list-style-type: none;
  padding-left: 0;
  background: none;
  position: absolute;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%);  
  overflow: auto;
}

.todolist li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  margin-right: 80px;
}

.todolist button {
  position: absolute;
  right: 10px;
  line-height: 170%;
  background: none;
  border: none;
  outline: 0;
  cursor: pointer;
  color: white;
}

#quote span:first-child {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: italic;
  color: white;
  display: flex;
  position: absolute;
  width: 80%;
  bottom: 50px;
  left: 50px;
  opacity: 0.8;
}

#quote span:last-child {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: italic;
  color: white;
  display: flex;
  position: absolute;
  bottom: 25px;
  left: 50px;
  opacity: 0.8;
}


#weather span:first-child {
  position: absolute;
  display: flex;
  color: white;
  top: 16%;
  right: 5%;  
  padding-right: 50px;
}

#weather span:last-child {
  position: absolute;
  display: flex;
  color: white;
  top: 16%;
  right: 5%;  
}

.bg-button {
  display: flex;
  position: absolute;
  background: none;
  border: none;
  outline: 0;
  color: white;
  cursor: pointer;
  top: 10%;
  left: 5%;
}

.hidden {
  display: none;
};
